figure.wp-block-image {
  margin-bottom: 24px;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  figcaption {
    text-align: center;
    font-style: italic;
  }
}

article.format-standard img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  height: auto;
  margin-top: 48px;
  margin-bottom: 48px;
}
