@import "colors.scss";
@import "fonts.scss";

.category-page-heading {
  margin: 0;
  background-color: $dark-gray-col;
}

.category-description {
  padding: 5px 10px 10px 15px;
  font-family: $roboto;
  font-size: 0.75em;
  background-color: $light-gray-col;
  border-right: 10px solid #fff;

  div {
    position: relative;
    padding: 0;

    a {
      position: absolute;
      right: 10px;

      &#toggle {
        cursor: pointer;
        bottom: -18px;
      }
    }
  }
}

.category-title-link {
  display: block;
  height: 50px;
  padding-left: 65px;
  line-height: 3.2;
  color: $dark-brick-col;
  text-transform: uppercase;
  background-repeat: no-repeat;
  border-right: 10px solid $white;

  &.no-icon {
    padding-left: 10px;
  }

  &:hover {
    color: $dark-brick-col;
    text-decoration: none;
  }
}

.category-page-category-list-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0 0 0;
}

.category-topping-wrapper {
  padding: 0;

  .category-link-wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    text-decoration: none;

    &:hover {
      text-decoration: none;

      h4 {
        text-decoration: none;
      }
    }

    h4 {
      text-decoration: none;
    }
  }

  .category-title-wrapper {
    display: block;
    padding: 8px 0;
    color: $dark-brick-col;

    text-decoration: none;
    background: $light-gray-col;

    &:hover {
      color: $dark-brick-col;
      text-decoration: none;
    }
  }

  .read-more-wrapper {
    padding-right: 10px;
    text-align: right;
  }

  .category {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-bottom: 25px;
    background-color: #f1f1f2;
    border-right: 10px solid $white;

    .read-more-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 30px;
      background-color: $light-gray-col;

      a {
        font-size: 0.75em;

        text-transform: none;
      }
    }
  }

  .image-sub-section {
    padding: 0;
  }

  .top-sub-section {
    flex: 1;
  }

  .top-sub-section h4 {
    padding: 10px 10px 20px 10px;
    margin: 0;
    font-family: $roboto-light;
    font-size: 1em;
    color: $black;
    text-transform: none;
    background-color: $lighter-gray-col;
  }

  .plain-text-sub-section {
    padding: 10px 10px;

    p {
      // font-family: $roboto;
      font-size: 0.75em;
      color: $black;
      background-color: $lighter-gray-col;
    }
  }
}

@media (max-width: 399px) {
  .category-topping-wrapper .category {
    width: 100%;
    border-right: 0 none;
  }

  .category-title-link {
    border-right: 0 none;
  }

  .border-bottom-only-wrapper {
    border-right: 0 none;
  }

  .category-description {
    border-right: 0 none;
  }
}

@media (min-width: 400px) and (max-width: 767px) {
  .category-topping-wrapper .category {
    width: 47%;
  }
}

.category-page-header {
  @include category-header;
  margin-bottom: 16px;
}
