.comments-section {
  .comment-content {
    padding-top: 10px;
  }

  ol.commentlist {
    padding: 15px;
    list-style: none;
    background-color: rgba(188, 190, 192, 0.3);
    border: 3px solid rgba(200, 200, 200, 0.2);
  }

  .comment-meta {
    display: flex;
    flex-wrap: wrap;

    .comment-metadata {
      .edit-link {
        margin-left: 20px;
      }
    }

    .comment-author.vcard {
      font-size: 1em;
      color: $light-brick-color;
      flex-grow: 1;
      padding-right: 12px;

      .says {
        display: none;
      }

      .avatar {
        width: 60px;
        height: 60px;
        padding: 14px;
        margin-right: 10px;
        background-color: #f1f1f2;
      }
    }
  }

  ol.commentlist > li:not(:first-child) > article.comment-body {
    margin-top: 20px;
    border-top: 1px solid lightgray;
    padding-top: 20px;
  }

  ul.children {
    margin-top: 20px;
    list-style: none;
  }

  .comment-text-wrapper {
    padding-left: 70px;
  }

  .border-bottom-only-wrapper {
    margin-top: 30px;
    margin-right: -10px;
  }

  .text-body {
    padding-left: 70px;
  }

  ul {
    padding: 15px;
    background-color: rgba(188, 190, 192, 0.3);
    border: 3px solid rgba(200, 200, 200, 0.2);

    &.dont-style {
      padding-left: 0;
      margin: 0;
      background-color: transparent;
      border: none;
    }
  }

  ul li > ul {
    margin: 10px 20px;
  }

  .pull-left {
    margin-right: 10px;

    img {
      padding: 14px;
      background-color: $lighter-gray-col;
    }
  }

  .user-name {
    font-size: 1em;
    color: $light-brick-color;
  }

  .timespan {
    font-size: 0.9em;
  }

  .reply {
    color: $dark-brick-col;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }
}

.comment-form p {
  input[type="text"],
  input[type="email"],
  input[type="url"],
  textarea {
    @extend .form-control;
  }

  .submit {
    @extend .btn;
    @extend .btn-primary;
  }
}
