@import "colors.scss";
@import "fonts.scss";

.category-title-link {
  background-size: contain;
}

.menu-arrow-after {
  position: absolute;
  top: 80%;
  left: 50%;
  display: block;
  width: 0;
  height: 0;
  margin-left: -10px;
  content: "";
  border-color: transparent transparent $white transparent;
  border-style: solid;
  border-width: 10px;
}

.see-all-stories-wrapper {
  padding-right: 10px;
  margin: 0 0 20px 0;
  text-align: right;
}

.see-all-stories {
  font-size: 1.125em;
  color: $dark-brick-col;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    color: $dark-brick-col;
    text-decoration: none;
  }

  &.top {
    display: block;
    float: right;
    margin-top: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: right;
  }
}

.read-more {
  color: $dark-brick-col;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    color: $dark-brick-col;
    text-decoration: none;
  }
}

.space-xs {
  height: 10px;
}

.sidebar-aside {
  padding-bottom: 20px;

  @include desktop {
    padding-left: 30px;
    border-left: 2px solid $light-gray-col;
  }

  h5 {
    padding-top: 10px;
  }
}

.no-padding {
  padding: 0;
}

.border-bottom-only-wrapper {
  &.default-margin-right-margin {
    margin-right: -15px;
  }

  &.default-margin-left-margin {
    margin-left: -15px;
  }
}

.btn-primary {
  color: $white;
  background-color: $dark-brick-col;
  border: 1px solid $light-gray-col;
  border-radius: 0;

  &:hover {
    color: $white;
    background-color: $dark-brick-col;
    border: 1px solid $light-gray-col;
  }
}

.form-control {
  border-radius: 0;
}

#author-date-category,
#story-tags {
  .text {
    color: $dark-gray-col;
  }

  a {
    color: $dark-brick-col;
    text-decoration: none;

    &:hover {
      color: $dark-brick-col;
      text-decoration: none;
    }
  }
}

.img-fluid {
  margin: 0 auto;
}

@include desktop {
  #page {
    max-width: 1360px;
    margin-left: auto;
    margin-right: auto;

    .container-fluid .row {
      display: flex;
      flex-wrap: wrap;
    }
  }
}

#page {
  .container-fluid .row {
    > main,
    aside {
      padding-top: 32px;
      padding-bottom: 96px;
    }
  }
}

.post-tile-image {
  height: 180px;
}

@mixin clamp($i) {
  display: -webkit-box;
  -webkit-line-clamp: $i;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@for $i from 1 through 5 {
  .clamp-#{$i} {
    @include clamp($i);
  }
}

.post-tile-title {
  @include clamp(3);
  height: 57px;
}

.post-tile-text {
  font-size: 14px;
  height: 105px;
  @include clamp(5);
}

.post-tile {
  @include mobile {
    display: flex;
    justify-content: center;
    .post-tile-card {
      max-width: 450px;
    }
  }
}

@mixin category-header {
  height: 70px;
  display: block;

  .header {
    color: #9e332e;
    text-decoration: none;
    text-transform: uppercase;
    height: 100%;
    display: flex;
    padding-left: 8px;
    padding-right: 8px;

    justify-content: start;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.125);

    .category-name {
      font-size: 20px;
    }

    .category-image {
      width: 60px;
      height: 60px;
      margin-right: 16px;
    }
  }
}
