@import "colors.scss";
@import "fonts.scss";

.category-title-link {
  background-size: contain;
}

body {
  font-family: $roboto;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $roboto-black;
  color: $dark-brick-col;
  text-shadow: none;
  text-transform: uppercase;
  opacity: 1;
}

a {
  color: $dark-brick-col;
  text-decoration: none;

  &:hover {
    color: $dark-brick-col;
    text-decoration: none;
  }
}

.menu-arrow-after {
  position: absolute;
  top: 80%;
  left: 50%;
  display: block;
  width: 0;
  height: 0;
  margin-left: -10px;
  content: "";
  border-color: transparent transparent $white transparent;
  border-style: solid;
  border-width: 10px;
}

.no-right-margin {
  margin-right: 0;
}

.no-margin {
  margin: 0;
}

.see-all-stories-wrapper {
  padding-right: 10px;
  margin: 0 0 20px 0;
  text-align: right;
}

.see-all-stories {
  font-size: 1.125em;
  color: $dark-brick-col;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    color: $dark-brick-col;
    text-decoration: none;
  }

  &.top {
    display: block;
    float: right;
    margin-top: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: right;
  }
}

.read-more {
  color: $dark-brick-col;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    color: $dark-brick-col;
    text-decoration: none;
  }
}

.main-body-container {
  width: 95%;
}

.right-border-separator {
  padding-right: 30px;
  border-right: 2px solid $light-gray-col;
}

.space-xs {
  height: 10px;
}

.download-social-bar {
  height: 1px;
  margin: 5px 0;
  background-color: $light-gray-col;
}

.right-section {
  padding-bottom: 20px;

  h5 {
    padding-top: 10px;
  }
}

.no-padding {
  padding: 0;
}

.border-bottom-only-wrapper {
  &.default-margin-right-margin {
    margin-right: -15px;
  }

  &.default-margin-left-margin {
    margin-left: -15px;
  }
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.btn-primary {
  color: $white;
  background-color: $dark-brick-col;
  border: 1px solid $light-gray-col;
  border-radius: 0;

  &:hover {
    color: $white;
    background-color: $dark-brick-col;
    border: 1px solid $light-gray-col;
  }
}

.form-control {
  border-radius: 0;
}

#author-date-category,
#story-tags {
  .text {
    color: $dark-gray-col;
  }

  a {
    color: $dark-brick-col;
    text-decoration: none;

    &:hover {
      color: $dark-brick-col;
      text-decoration: none;
    }
  }
}

.img-fluid {
  margin: 0 auto;
}

@media (max-width: 399px) {
  .right-border-separator {
    padding-right: 15px;
    border-right: 0 none;
  }
}

@media (min-width: 400px) and (max-width: 767px) {
  .right-border-separator {
    padding-right: 15px;
    border-right: 0 none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .right-border-separator {
    padding-right: 15px;
    border-right: 0 none;
  }
}

@media (min-width: 992px) {
  .left-border-separator {
    padding-left: 30px;
    border-left: 2px solid $light-gray-col;
  }

  #page {
    max-width: 1360px;
    margin-left: auto;
    margin-right: auto;

    .main-body-container .row {
      display: flex;
      flex-wrap: wrap;

      .left-section {
        width: 65%;
        padding-top: 32px;
        padding-bottom: 96px;
        flex-grow: 1;
      }

      .right-section {
        width: 35%;
        padding-top: 32px;
        padding-bottom: 96px;
        flex-grow: 1;
      }
    }
  }
}
