@import "colors.scss";
@import "fonts.scss";

.btn-primary {
  color: $white;
  background-color: $dark-brick-col;
  border: 1px solid $light-gray-col;
  border-radius: 0;

  &:hover {
    color: $white;
    background-color: $dark-brick-col;
    border: 1px solid $light-gray-col;
  }
}

@include desktop {
  #page {
    max-width: 1360px;
    margin-left: auto;
    margin-right: auto;

    .container-fluid .row {
      display: flex;
      flex-wrap: wrap;
    }
  }
}

#page {
  .container-fluid .row {
    > main,
    aside {
      padding-top: 32px;
      padding-bottom: 96px;
    }
  }
}

@mixin clamp($i) {
  display: -webkit-box;
  -webkit-line-clamp: $i;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@for $i from 1 through 5 {
  .clamp-#{$i} {
    @include clamp($i);
  }
}
