body {
  font-family: $roboto;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $roboto-black;
  color: $dark-brick-col;
  text-shadow: none;
  text-transform: uppercase;
  opacity: 1;
}

a {
  color: $dark-brick-col;
  text-decoration: none;

  &:hover {
    color: $dark-brick-col;
    text-decoration: none;
  }
}
