@mixin mobile {
  @media (max-width: 767px) { @content; }
}

@mixin desktop {
  @media (min-width: 768px) { @content; }
}

#vikalpsangam-navbar {
  box-shadow: 0 2px 2px 0 rgba(50, 50, 50, 0.3);
  padding-bottom: 0;
  padding-top: 0;
  
  font-family: "Roboto-Black";
  min-height: 50px;

  @include desktop {
    padding-left: 70px;
    padding-right: 100px;
  }

  .navbar-brand {
    display: block;
    height: 50px;
    overflow: hidden;

    @include mobile {
      width: 65px;
      background: url(images/header_small_logo.png) no-repeat left center;
    }

    @include desktop {
      width: 325px;
      background: url(images/header_big_logo.png) no-repeat left center;
    }
  }

  .nav-link {
    // Todo - Replace with scss-level override later
    color: $dark-brick-col !important;
    font-weight: 700;

    @include desktop {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  form {
    margin-bottom: 0;
    position: relative;
    
      button {
        position: absolute;
        top: calc(50% - 10px);
        right: 7px;
        padding: 0;
        border: 0;
        background-color: transparent;
        &:focus {
          outline: none;
        }
        i {
          color: $dark-brick-col;
        }
      }

      input {
        width: 100%;
      }
  }
  
  

  // Mobile alterations
  @media(max-width: 767px) {

    #vikalpsangam-navbar-collapse {
      margin-bottom: 24px;
    }
  }
}

#wpadminbar {
  opacity: 0.4;
  pointer-events: none;
}
