@media print {
  nav#vikalpsangam-navbar {
    display: none !important;
  }

  footer {
    display: none;
  }

  aside.sidebar-aside {
    display: none;
  }

  .comments-section {
    display: none;
  }
}
