<div id="mainSlider">
	{% for post in carousel_items %}
		<a class="slider-item" href="#">

			<img src="{{ post.thumbnail.src("large") }}" class="carousel-thumbnail">
			<div class="slick-carousel-caption">
				<h4 class="post-title">{{ post.title }}</h4>
				<p class="post-excerpt">{{ post.preview.read_more(false).length(20) }}</p>
			</div>

		</a>
	{% endfor %}
</div>


<script>
	jQuery(window).ready(() => {
jQuery("#mainSlider").slick({
infinite: true,
speed: 300,
slidesToShow: 1,
centerMode: true,
variableWidth: true,
mobileFirst: true
});
});
</script>
