@use "../common/mixins";
@use "../common/colors";

@keyframes fade-in {
    from {
        opacity: 0;
        background-color: colors.$color-theme-primary;
    }
}

.comment {
    margin-bottom: 12px;
    width: 100%;
    opacity: 1;
    animation: fade-in 1s ease forwards;
    display: flex;
    &__avatar {
        height: 40px;
    }
    &__body {
        margin-left: 16px;
        flex: 1;
    }
    &__reply-wrapper {
        @include mixins.desktop {
            min-width: 600px;
        }
    }
    &__content {
        p:last-child {
            margin-bottom: 0;
        }
    }
    &__footer {
        padding-top: 12px;
        > a {
            color: colors.$dark-gray-col;
            &:not(:first-child) {
                margin-left: 4px;
            }
            &:not(:last-child) {
                margin-right: 4px;
            }
        }
    }
    &__children {
        margin-top: 20px;
        margin-left: -32px;

        @include mixins.desktop {
            margin-left: -24px;
        }
    }
}

// WordPress Generated Styles

.comment-respond {
    border-top: 1px solid #80808052;
    margin-top: 20px;
    padding-top: 20px;
    width: 100%;
    margin-bottom: 80px;
    @include mixins.desktop {
        margin-bottom: 12px;
    }
}

.comment-reply-title {
    font-size: 18px;
}
