<div id="article-comments" class="comments">
    {{ function('comment_form') }}

    <div class="comments__submit-message"></div>

    {% for comment in post.comments %}
        {% include 'partials/_comment.twig' %}
    {% endfor %}
</div>
