$logo-width-l: 275px;

@mixin collapsed {
  @media (max-width: 991px) {
    @content;
  }
}

.siteHeader {
  display: flex;
  justify-content: center;
}

.siteHeaderImage {
  max-width: 100%;
}

#vikalpsangam-navbar-secondary {
  @media print {
    display: none !important;
  }

  > .container {
    height: 100%;
  }

  background-color: darken($dark-brick-col, 15) !important;

  font-family: "Roboto-Black";

  padding: 0 16px 0 16px;
  height: 40px;

  display: flex;
  align-items: center;

  .nav-link {
    display: flex;
    align-items: center;
    font-size: 14px;
    height: 100%;
    line-height: 28px;
    font-family: Verdana, Geneva, sans-serif;
    color: white;
    padding-left: 32px;
    padding-right: 32px;
    margin-left: 0px;
    margin-right: 0px;
    text-transform: uppercase;

    &:hover {
      background-color: darken($dark-brick-col, 20);
    }
  }

  .social-links {
    margin-left: 48px;
    display: flex;
    align-items: center;
  }

  .header-social-small {
    width: 100%;
    height: 100%;

    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: darken($dark-brick-col, 20);
    }

    > img {
      display: block;

      width: 24px;
      height: 24px;
    }
  }
}

#vikalpsangam-navbar {
  @media print {
    display: none !important;
  }

  box-shadow: 0 2px 2px 0 rgba(50, 50, 50, 0.3);
  font-family: "Roboto-Black";

  padding: 0 16px 0 16px;

  height: 40px;

  display: flex;
  align-items: center;

  .navbar-brand {
    flex-basis: $logo-width-l;
    margin-right: 0;

    &[max-width~="#{$logo-width-l}"] {
      background: url(images/header_small_logo.png) no-repeat left center;
    }

    &[min-width~="#{$logo-width-l}"] {
      background: url(images/header_big_logo.png) no-repeat left center;
    }
  }

  #vikalpsangam-navbar-collapse {
    @include collapsed {
      margin-bottom: 24px;
    }

    .navbar-nav {
      .nav-item {
        font-weight: normal;

        &.current-menu-item .nav-link {
          color: #fff !important;
          background-color: $dark-brick-col;
        }

        &:not(.current-menu-item) .nav-link {
          color: $dark-brick-col !important;
          background-color: transparent;
        }

        .nav-link {
          height: 50px;
          display: flex;
          align-items: center;
          padding-left: 16px;
          font-size: 18px;
          @include header-style;
          font-weight: normal;

          @include desktop {
            padding-right: 16px;

            margin-right: 32px;
          }
        }
      }
    }
  }
}
