<nav id="vikalpsangam-navbar-secondary">
    <div class="container d-flex justify-content-end">
        <div class="dropdown">
            <a class="nav-link dropdown-toggle"
                href="#"
                role="button"
                id="dropdownMenuLink"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false">
                About Us
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/to-be-determined">
                    Vikalpsangam Processes
                </a>
            </div>
        </div>
        <a href="/events" class="nav-link">Events</a>
        <a href="/to-be-determined" class="nav-link">Media Coverage</a>
        <div href="/article/category/policy-edits/" class="social-links">
            {% for link in social_links %}
                <a class="header-social-small" href="{{ link.url }}">
                    <img src="{{ link.image }}" />
                </a>
            {% endfor %}
        </div>
    </div>
</nav>

{{
    function(
        'wp_nav_menu',
        {
            theme_location: 'header-menu'
        }
    )
}}

<nav class="navbar navbar-expand-lg navbar-light bg-light d-flex"
    id="vikalpsangam-navbar">
    <button class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#vikalpsangam-navbar-collapse"
        aria-controls="vikalpsangam-navbar-collapse"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center"
        id="vikalpsangam-navbar-collapse">
        <a class="home-link" href="/">
            <img src="/wp-content/themes/vikalpsangam.org/images/header_big_logo.png" />
        </a>
        <ul id="menu-header-menu" class="navbar-nav mr-3">
            {% include 'partials/_nav-menu.twig' with {
                name: 'Stories',
                section: {
                    name: 'Story Categories',
                    link: '/article',
                    items: post_categories
                },
                customSection: {
                    name: 'Stories By Location',
                    render: '
                        <a href="/map">
                            <img class="india-map"
                                src="/wp-content/themes/vikalpsangam.org/images/india.svg" />
                        </a>
                    '
                }
            } only %}

            {% include 'partials/_nav-menu.twig' with {
                name: 'Our Work',
                section: {
                    name: 'Our Work',
                    items: [
                        {
                            name: 'Vikalp Sutra',
                            link: 'https://sutra.vikalpsangam.org'
                        }
                    ]
                }
            } only %}

            {% include 'partials/_nav-menu.twig' with {
                name: 'Resources',
                section: {
                    name: 'Resources',
                    items: [
                        {
                            name: 'Vikalpsangam Resources',
                            link: '/resources'
                        }
                    ]
                }
            } only %}

            <li class="nav-item">
                <a href="/article/category/policy-edits/" class="nav-link">
                    Perspectives
                </a>
            </li>
        </ul>
        {% include 'partials/_search-form.twig' %}
    </div>
</nav>
