$logo-width-l: 275px;

@mixin collapsed {
  @media (max-width: 991px) {
    @content;
  }
}

#vikalpsangam-navbar {
  @media print {
    display: none !important;
  }

  box-shadow: 0 2px 2px 0 rgba(50, 50, 50, 0.3);
  font-family: "Roboto-Black";

  padding: 0 16px 0 16px;

  .navbar-brand {
    height: 50px;
    flex-basis: $logo-width-l;
    margin-right: 0;

    &[max-width~="#{$logo-width-l}"] {
      background: url(images/header_small_logo.png) no-repeat left center;
    }

    &[min-width~="#{$logo-width-l}"] {
      background: url(images/header_big_logo.png) no-repeat left center;
    }
  }

  #vikalpsangam-navbar-collapse {
    min-height: 50px;

    @include collapsed {
      margin-bottom: 24px;
    }

    .navbar-nav {
      .nav-item {
        font-weight: 700;

        &.current-menu-item .nav-link {
          color: #fff !important;
          background-color: $dark-brick-col;
        }

        &:not(.current-menu-item) .nav-link {
          color: $dark-brick-col !important;
          background-color: transparent;
        }

        .nav-link {
          height: 50px;
          display: flex;
          align-items: center;
          padding-left: 16px;
          font-size: 18px;
          @include header-style;

          @include desktop {
            padding-right: 16px;
          }
        }
      }
    }
  }
}
