@use "../common/mixins";

.post-tile {
    flex: 1;
    display: flex;
    justify-content: center;
    max-width: 450px;

    &__title {
        @include mixins.clamp(4);
    }

    &__image {
        height: 180px;
        object-fit: cover;
    }

    &__text {
        line-height: 21px;
        font-size: 14px;
        height: 105px;
        @include mixins.clamp(5);
    }
}
