.excerpt {
  @include clamp(4);
  height: 68px;
}

.card-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  .category-image {
    height: 70px;
    width: 70px;
    margin-right: 12px;
    image-rendering: -moz-crisp-edges; /* Firefox */
    image-rendering: -o-crisp-edges; /* Opera */
    image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    object-fit: cover;
    -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
  }
}

.post-tile-title {
  @include clamp(4);
  height: #{19 * 4}px;
}

.post-tile-text {
  line-height: 21px;
  font-size: 14px;
  height: 105px;
  @include clamp(5);
}

.post-tile {
  @include mobile {
    display: flex;
    justify-content: center;
    .post-tile-card {
      max-width: 450px;
    }
  }
}

.post-tile-image {
  height: 180px;
}
