<form action="/" class="form-inline search-box ml-4">
    <button class="search-box__submit-button" type="submit">
        <i class="fas fa-search search-box__icon"></i>
    </button>
    <input class="search-query form-control search-box__input"
        name="s"
        placeholder="Search"
        type="text" />
</form>

<script type="module">
    {% include 'partials/_search-form.js' %}
</script>
