@use "../common/mixins";
@use "../common/colors";

@include mixins.desktop {
  #mega-menu-wrap-header-menu {
    display: inline-block;
  
  
    .search-box-input {
      width: 0;
      visibility: hidden;
    }
    
    &[menu-open="true"] {
      .search-box-input {
        transition: width 0.5s;
        visibility: visible;
        width: 300px;
      }
    }
  }
}




.search-box {
  margin-bottom: 0;
  position: relative;
  font-family: "Roboto";

  @include mixins.mobile {
    margin-top: 24px;
  }

  .search-box-submit-button {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    right: 0px;
    padding: 0;
    border: 0;
    background-color: transparent;

    .search-icon {
      color: colors.$color-theme-primary;
    }
  }

  .search-box-input {
    width: 100%;
  }
}

