@use "../common/mixins";
@use "../common/colors";

.search-box {
    margin-bottom: 0;
    position: relative;
    font-family: "Roboto";
    margin-top: 24px;

    @include mixins.desktop {
        margin-top: 0;
    }

    &__submit-button {
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        right: 0px;
        padding: 0;
        border: 0;
        background-color: transparent;
    }

    &__icon {
        color: colors.$color-theme-primary;
    }

    &__input {
        width: 100%;
    }
}

@include mixins.desktop {
    #mega-menu-wrap-header-menu {
        .search-box {
            &__input {
                width: 0;
                visibility: hidden;
            }
        }

        &[menu-open="true"] {
            align-self: flex-end;
            .search-box {
                flex: 1;
                display: flex;
                justify-content: flex-end;
                margin-left: 40px;
                &__input {
                    transition: width 0.5s;
                    visibility: visible;
                    width: 100%;
                }

                &__icon {
                    pointer-events: none;
                }
            }
        }
    }
}
