.sidebar {
  > li.widget {
    list-style: none;
  }

  @media print {
    display: none;
  }

  .sidebar-header {
    @include header-style;
  }

  .widgettitle {
    @include header-style;
    font-size: 20px;
  }

  .widget_tag_cloud .tagcloud {
    padding-bottom: 20px;
    text-align: center;

    .tag-weight-1 {
      font-size: 0.8em !important;
      color: $dark-gray-col;
    }

    .tag-weight-2 {
      font-size: 1em !important;
      color: $yellow-col;
    }

    .tag-weight-3 {
      font-size: 1.2em !important;
      color: $light-brick-color;
    }

    .tag-weight-4 {
      font-size: 1.3em !important;
      color: $dark-brick-col;
    }
  }

  .featured-list {
    font-size: small;

    .featured-list-card-body {
      padding: 0;
    }
  }
}
