<div class="sidebar">

	<h5>Story Categories</h5>
	{% include 'partials/_categories-list.twig' %}


	<h5>Explore Stories</h5>
	<div class="sidebar-tag-cloud">
		{{ sidebar_tag_cloud_widget }}
	</div>

	<h5>Stories by Location</h5>
	<div id="sidebar-map" class="sidebar-map"></div>
	<script>
		renderMap('sidebar-map');
	</script>

	<h5>Events</h5>
	{% include 'partials/_events.twig' %}

	<h5>Recent posts</h5>
	<div class="featured-list in-sidebar">
		{% for post in sidebar_recent_activity %}
			{% include 'partials/_highlight-card.twig' %}
		{% endfor %}
	</div>
</div>
