<details class="term-description">
    <summary class="term-description__summary">
        <p>
            {{ term.meta('short-description') }}
        </p>
        <p class="term-description__read-more">
            Read More
        </p>
        <p class="term-description__read-less">
            Read Less
        </p>
    </summary>
    <div class="term-description__expanded">
        {{ term.description }}
    </div>
</details>
