.term-header {
  height: 70px;
  display: block;
  background-color: rgba(0, 0, 0, 0.03);

  &__content {
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.125);
    color: #9e332e;
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: start;
    padding: 0 8px;
    text-transform: uppercase;
    &:hover {
      text-decoration: underline;
    }
  }

  &__category-name {
    font-size: 20px;
  }

  &__category-image {
    height: 60px;
    margin-right: 16px;
    object-fit: cover;
    width: 60px;
  }
}
