{
    "extends": [
        "airbnb-base"
    ],
    "env": {
        "browser": true,
        "jquery": true
    },
    "globals": {
        "L": "readonly",
        "autosize": "readonly",
        "wp": "readonly",
        "diff": "readonly",
        "Vue": "readonly",
        "_": "readonly"
    },
    "rules": {
        "import/no-unresolved": "off"
    }
}