.left-section {
  padding-top: 32px;
  padding-bottom: 96px;

  @include mobile {
    padding-bottom: 0;
  }
}

.sidebar-aside {
  padding-bottom: 20px;
  padding-top: 32px;
  padding-bottom: 96px;

  @include desktop {
    padding-left: 30px;
    border-left: 2px solid $light-gray-col;
  }

  h5 {
    padding-top: 10px;
  }
}

@include desktop {
  #page {
    max-width: 1360px;
    margin-left: auto;
    margin-right: auto;

    .container-fluid .row {
      display: flex;
      flex-wrap: wrap;
    }
  }
}
