{% extends 'layouts/_base.twig' %}

{% block page %}
  <div class="base-content">
    <main class="col-xl-8 col-md-12 base-content__main">
      {% block content %}
        <span />
      {% endblock %}
    </main>
    <aside class="col-xl-4 col-md-12 base-content__sidebar">
      {{ get_sidebar() }}
    </aside>
  </div>
{% endblock %}
