{% if show_categories %}
	{% set category = post.categories[0] %}
{% endif %}

{% for post in posts %}
	<div class="col-xs-4 col-md-6 col-lg-4 pb-4">
		{% include 'partials/_article-tile.twig' with {'post': post, 'category': category } only %}
	</div>
{% endfor %}
