<a class="category-page-header" href="{{ category.link }}">
	<div class="card-header header">
		<img class="category-image" src="{{ Image(category.meta('image')).src }}"/>
		<span class="category-name">{{ category.name }}</span>
	</div>
</a>
