<section id="about-section">
	<div class="container-fluid about-section-container">
		<div class=" row about-section-row">
			<div class="col-md-12">
				<h3>ABOUT VIKALP SANGAM</h3>
				{{ post.content }}
			</div>
		</div>
	</div>
</section>
