<section id="stories-by-category-section">
	<div class="container stories-by-category-section-container pt-4 pb-4">
		<div class="row justify-content-between">
			<div class="col-sm-6 col-xs-12">
				<h4>Stories By Category</h4>
			</div>
		</div>
		<div class="row justify-content-center">
			{% for category_post in category_posts %}
				<div class="col-xs-4 col-md-6 col-lg-3 pb-4">
					{% include 'partials/article-tile.twig' with category_post only %}
				</div>
			{% endfor %}
		</div>
		<div class="row justify-content-between mt-4">
			<div class="col-12 d-flex justify-content-end">
				<a class="btn btn-primary" href="/article">SEE ALL CATEGORIES</a>
			</div>
		</div>
	</div>
</section>
