<section id="main-section">
	<div class="container-fluid main-section-container">
		<div class="row ml-auto mr-auto pb-1">
			<div class="col-xl-8 col-md-12 pl-0 pr-0 pl-md-4 pr-md-4">
				{% include 'partials/carousel.twig' %}
			</div>
			<div class="col-xl-4 col-md-12 pt-2">
				{% include 'partials/highlights.twig' %}
			</div>
		</div>
	</div>
</section>
