.excerpt {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 34px;
    overflow: hidden;
}

.category-image-wrapper {
    background-color: #e6e7e8;

    .category-image {
        width: 327px;
        height: 218px;
        image-rendering: -moz-crisp-edges; /* Firefox */
        image-rendering: -o-crisp-edges; /* Opera */
        image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
        image-rendering: crisp-edges;
        object-fit: cover;
        -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
    }
}
