@import "colors.scss";
@import "fonts.scss";

.category-title-link {
  background-size: contain;
}

@mixin control-group-styles() {
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  color: #555;
  background-color: $lighter-gray-col;
  border: 1px solid #ccc;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

body {
  font-family: $roboto;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $roboto-black;
  color: $dark-brick-col;
  text-shadow: none;
  text-transform: uppercase;
  opacity: 1;
}

a {
  color: $dark-brick-col;
  text-decoration: none;

  &:hover {
    color: $dark-brick-col;
    text-decoration: none;
  }
}

.menu-arrow-after {
  position: absolute;
  top: 80%;
  left: 50%;
  display: block;
  width: 0;
  height: 0;
  margin-left: -10px;
  content: "";
  border-color: transparent transparent $white transparent;
  border-style: solid;
  border-width: 10px;
}


.no-right-margin {
  margin-right: 0;
}

.no-margin {
  margin: 0;
}

.see-all-stories-wrapper {
  padding-right: 10px;
  margin: 0 0 20px 0;
  text-align: right;
}

.see-all-stories {
  font-size: 1.125em;
  color: $dark-brick-col;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    color: $dark-brick-col;
    text-decoration: none;
  }

  &.top {
    display: block;
    float: right;
    margin-top: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: right;
  }
}

.read-more-wrapper {
  padding-right: 10px;
  text-align: right;
}

.read-more {
  color: $dark-brick-col;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    color: $dark-brick-col;
    text-decoration: none;
  }
}

footer#footer {
  padding-top: 20px;
  background-color: #58585a;

  .container {
    width: 95%;
  }
}

.main-body-container {
  width: 95%;
}

footer {
  .logo img {
    padding-top: 10px;
  }

  .list-group-item {
    padding: 6px 10px;
    background: none;
    border: 0 none;

    &.active {
      background-color: unset;
      &:hover {
        background-color: unset;
      }
    }

    a {
      font-size: 0.8em;
      color: $lighter-gray-col;
      text-decoration: none;
      text-transform: uppercase;

      &:hover {
        color: $lighter-gray-col;
        text-decoration: none;
      }
    }
  }
}

.right-border-separator {
  padding-right: 30px;
  border-right: 2px solid $light-gray-col;
}

.left-border-separator {
  padding-left: 30px;
  border-left: 2px solid $light-gray-col;
}

.space-xs {
  height: 10px;
}

.download-social-bar {
  padding: 5px;
  margin: 5px 0;
  background-color: $light-gray-col;
}

.right-section {
  padding-bottom: 20px;

  h5 {
    padding-top: 10px;
  }
}

.no-padding {
  padding: 0;
}

.border-bottom-only-wrapper {
  &.default-margin-right-margin {
    margin-right: -15px;
  }

  &.default-margin-left-margin {
    margin-left: -15px;
  }
}

.btn-primary {
  color: $white;
  background-color: $dark-brick-col;
  border: 1px solid $light-gray-col;
  border-radius: 0;

  &:hover {
    color: $white;
    background-color: $dark-brick-col;
    border: 1px solid $light-gray-col;
  }
}

.form-control {
  border-radius: 0;
}

#author-date-category,
#story-tags {
  .text {
    color: $dark-gray-col;
  }

  a {
    color: $dark-brick-col;
    text-decoration: none;

    &:hover {
      color: $dark-brick-col;
      text-decoration: none;
    }
  }
}

.img-responsive {
  margin: 0 auto;
}

@media (max-width: 399px) {
  .right-border-separator {
    padding-right: 15px;
    border-right: 0 none;
  }
}

@media (min-width: 400px) and (max-width: 767px) {
  .right-border-separator {
    padding-right: 15px;
    border-right: 0 none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .right-border-separator {
    padding-right: 15px;
    border-right: 0 none;
  }
}
