.visible-lg .spacer {
  margin-top: 5px;
  margin-bottom: 20px;
}

.list-items {
  margin: 0;
  text-align: center;
  white-space: nowrap;
}

.footer-social-links-bottom {
  margin-bottom: 10px;
}

.small-screens .spacer {
  margin-top: 5px;
  margin-bottom: 10px;
}

.logos-collection {
  margin: 10px 0;

  img {
    display: block;
    margin: 0 auto;
  }
}

.link-but-not-a-link {
  cursor: default;

  &:hover {
    cursor: default;
  }
}


.footer-social-links-top,
.footer-social-links-bottom {
  .col-xs-12 {
    text-align: center;
  }

  a {
    display: inline-block;
    margin-right: 10px;
  }
}

@media (min-width: 1200px) {
  .footer-social-links-bottom {
    display: none;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .footer-social-links-bottom {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .footer-social-links-top {
    display: none;
  }
}

@media (min-width: 400px) and (max-width: 767px) {
  .footer-social-links-top {
    display: none;
  }

  .logos-collection {
    img {
      margin-bottom: 10px;
    }

    .kalpawriksha {
      float: right;
    }

    .dds {
      float: left;
    }
  }
}

@media (max-width: 399px) {
  .footer-social-links-top {
    display: none;
  }

  .logos-collection {
    img {
      margin-bottom: 10px;
    }

    .kalpawriksha {
      float: right;
    }

    .dds {
      float: left;
    }
  }
}