footer {
  padding-top: 20px;

  .footer-items {
    background-color: #58585a;
    padding: 0;
    margin: 0;
    overflow: hidden;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 40px;
    padding-bottom: 60px;
    flex-wrap: wrap;

    @media (max-width: 992px) {
      flex-direction: column;
      align-items: center;
    }
  }

  .subscribe {
    margin-top: 20px;
    margin-bottom: 20px;
    flex: 1;
    padding-left: 10px;
    padding-right: 10px;
    .subscribe-title {
      color: white;
    }

    .subscribe-description {
      color: white;
      margin-bottom: 15px;
    }
    form {
      display: flex;
      input {
        min-width: 300px;
        flex: 1;
        flex-shrink: 1;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
      }
      button {
        background-color: #9e332e;
        padding-left: 16px;
        padding-right: 16px;
        color: white;
        border: none;
      }
    }
  }

  .footer-left {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex: 1;
    padding-left: 10px;
    padding-right: 10px;
    #footer-logo {
      margin-bottom: 40px;
    }
    .footer-social-links-top {
      display: flex;
      justify-content: center;
    }
  }

  .footer-right {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    width: 50%;
    flex: 2;
    flex-wrap: wrap;
    padding-left: 10px;
    padding-right: 10px;
    .list-items {
      height: fit-content;
      width: fit-content;
      flex-basis: 0;
      min-width: 180px;
      flex: 1;
    }
    @media (max-width: 992px) {
      flex-direction: column;
      align-items: center;
    }
  }

  .logo img {
    padding-top: 10px;
  }

  .list-group {
    margin: 0;
  }

  .list-group-item {
    padding: 6px 10px;
    background: none;
    border: 0 none;

    &.active {
      background-color: unset;
      &:hover {
        background-color: unset;
      }
    }

    a {
      font-size: 0.8em;
      color: $lighter-gray-col;
      text-decoration: none;
      text-transform: uppercase;

      &:hover {
        color: $lighter-gray-col;
        text-decoration: none;
      }
    }
  }

  .visible-lg .spacer {
    margin-top: 5px;
    margin-bottom: 20px;
  }

  .list-items {
    margin: 0;
    text-align: center;
    white-space: nowrap;
  }

  .footer-social-links-bottom {
    margin-bottom: 10px;
  }

  .small-screens .spacer {
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .logos-collection {
    margin: 10px 0;

    img {
      display: block;
      margin: 0 auto;
    }
  }

  .link-but-not-a-link {
    cursor: default;

    &:hover {
      cursor: default;
    }
  }

  .footer-social-links-top,
  .footer-social-links-bottom {
    .col-xs-12 {
      text-align: center;
    }

    a {
      display: inline-block;
      margin-right: 10px;
    }
  }
}

.partners {
  width: 100%;
  background-color: #f1f0f0;
  display: flex;
  justify-content: center;
  flex-direction: row;
  .partners-logos {
    width: 1400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    .partner-logo {
      width: 300px;
      min-width: 200px;
      padding-bottom: 20px;
      padding-top: 20px;
      a {
        img {
          width: auto;
          max-width: 80%;
          height: auto;
        }
      }
    }
  }
}
