@import "colors.scss";
@import "fonts.scss";

.top-carousel-wrapper {
  padding: 0 0 10px 0;
  -webkit-box-shadow: 0 5px 6px 0 rgba(50, 50, 50, 0.37);
  -moz-box-shadow: 0 5px 6px 0 rgba(50, 50, 50, 0.37);
  box-shadow: 0 5px 6px 0 rgba(50, 50, 50, 0.37);

  .fill-image {
    width: 100%;
    height: 600px;
    background-repeat: none;
    background-position: center center;
    background-size: cover;
  }
}

.carousel-caption {
  bottom: 14%;
  left: 10%;
  width: 55%;
  padding: 10px 20px;
  text-align: left;
  text-shadow: none;
  background-color: rgba(255, 255, 255, 0.8);
}

.carousel-caption h2,
.carousel-caption-bottom h2 {
  font-size: 1.125em;
  font-weight: 700;
  color: $dark-brick-col;
  text-shadow: none;
  text-transform: uppercase;
  opacity: 1;
}

.carousel-caption p,
.carousel-caption-bottom p {
  // font-family: $roboto;
  font-size: 0.75em;
  color: $dark-brick-col;
  text-align: justify;
}

.featured-list {
  ul {
    position: relative;
    bottom: -10px;
  }

  li.row {
    padding: 15px 0;
    margin-bottom: 5px;
    background-color: $lighter-gray-col;

    &:nth-child(2n) {
      background-color: $light-gray-col;
    }
  }

  &.in-sidebar {
    li {
      padding: 5px;
      background-color: $light-gray-col;
    }

    .row {
      margin: 0;
      margin-bottom: 8px;

      .col-xs-4 {
        padding: 0;
      }
    }
  }
  color: $dark-brick-col;

  a {
    /*font-size: 1em;*/
    color: $dark-brick-col;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      text-decoration: none;
    }
  }

  h2 {
    font-size: 1.125em;
    font-weight: 700;
  }

  h4 {
    font-family: $roboto;
    font-size: 0.875em;
  }

  p {
    // font-family: $roboto;
    font-size: 0.75em;
    color: $black;
  }

  .horizontal-border {
    height: 1px;
    padding: 5px 0;

    /*width: 90%;*/
    margin: 0 auto;
    border-top: 1px solid $light-gray-col;
  }
}

.top-carousel-wrapper .verticle-border {
  position: absolute;
  // border-left: 1px solid $light-gray-col;
  top: -10px;
  right: 0;
  width: 1px;
  height: 580px;
  margin: 10px 0;
}

.about-section {
  h2 {
    font-size: 1.125em;
  }

  p {
    padding-bottom: 12px;
  }
}

.category-section {
  h2 {
    font-size: 1.125em;
  }

  .top-sub-section {
    background-color: $white;

    h4 {
      padding-left: 0;
      font-family: $roboto-light !important;
      font-size: 1.125em;
      color: $dark-brick-col;
    }

    .col-xs-3 {
      padding: 0;
    }
  }

  .image-sub-section {
    background-color: $dark-brick-col;

    .col-xs-12 {
      padding: 0;
    }
  }

  .category {
    display: flex;
    flex-direction: column;
    border-right: 10px solid $light-gray-col;
    margin-bottom: 40px;

    .stories-by-category {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 220px;
      overflow: hidden;

      img {
        width: auto;
        height: auto;
        max-height: 100%;
      }
    }
  }

  .plain-text-sub-section {
    flex: 1;
    color: $dark-brick-col;
    background-color: $white;

    p {
      padding: 5px;
      font-size: 0.875em;
      font-weight: 400;
      text-transform: uppercase;
    }
  }
  background-color: $light-gray-col;
}

.carousel-control {
  font-size: 2em;
}

@media (max-width: 399px) {
  .top-carousel-wrapper {
    .carousel-indicators {
      bottom: -5px;
    }

    .no-right-margin {
      margin-right: 0;
    }

    .fill-image {
      height: 220px;
    }

    .verticle-border {
      display: none;
    }

    .col-xs-12 {
      padding: 0;
    }

    .carousel-caption-bottom {
      padding: 10px 10px 30px 40px;
      background: $light-gray-col;
    }

    .featured-list {
      padding: 10px 5px 10px 30px;

      .row {
        margin: 0;
      }
    }
  }

  .featured-list {
    h4 {
      font-size: 0.725em;
    }

    p {
      font-size: 0.7em;
    }
  }

  .category-section {
    .category {
      margin-bottom: 10px;
      border-right: 0 none;
    }

    .container .col-xs-6 {
      width: 100%;
    }
  }
}

@media (min-width: 400px) and (max-width: 767px) {
  .top-carousel-wrapper {
    .carousel-indicators {
      bottom: -5px;
    }

    .no-right-margin {
      margin-right: 0;
    }

    .fill-image {
      height: 340px;
    }

    .verticle-border {
      display: none;
    }

    .col-xs-12 {
      padding: 0;
    }

    .carousel-caption-bottom {
      padding: 10px 10px 30px 40px;
      background: $light-gray-col;
    }

    .featured-list {
      padding: 10px 5px 10px 30px;

      .row {
        margin: 0;
      }
    }
  }

  .featured-list {
    h4 {
      font-size: 0.725em;
    }

    p {
      font-size: 0.7em;
    }
  }

  .category-section {
    .category {
      margin-bottom: 10px;
      border-right: 10px solid $light-gray-col;
    }

    .container {
      padding: 0 5px;
    }

    .top-sub-section h4 {
      font-size: 1em;
    }

    .plain-text-sub-section p {
      font-size: 0.8em;
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .top-carousel-wrapper {
    .no-right-margin {
      margin-right: 0;
    }

    .fill-image {
      height: 420px;
    }

    .verticle-border {
      display: none;
    }

    .col-xs-12 {
      padding: 0;
    }

    .carousel-caption-bottom {
      padding: 10px 10px 10px 40px;
    }

    .featured-list {
      padding: 10px 5px 10px 30px;

      .row {
        margin: 0;
      }
    }

    .carousel-caption {
      width: 70%;
    }
  }

  .category-section {
    .top-sub-section h4 {
      font-size: 1em;
    }

    .plain-text-sub-section p {
      font-size: 0.8em;
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .top-carousel-wrapper {
    .fill-image {
      height: 500px;
    }

    .verticle-border {
      height: 480px;
    }
  }
}

@media (min-width: 1200px) {
  .category-section .container,
  .about-section .container {
    width: 95%;
  }
}
