.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 1001;
	width: 100%;
	min-height: 60px;
	background-color: $black;

	.footer-inner {
		position: relative;
		width: 1140px;
		min-height: 36px;
		padding-top: 10px;
		margin: 0 auto;
	}

	ul {
		list-style: none;

		li {
			display: inline-block;

			a {
				padding: 6px 12px;
				font-family: $sans-serif;
				font-size: 14px;
				font-weight: 300;
				color: #fff;
				text-decoration: none;
				white-space: nowrap;
				-webkit-user-select: none;
				-moz-user-select: none;
				user-select: none;
			}
		}
	}

	.footer-lower {
		overflow: auto;
	}

	.footer-col {
		float: left;
		width: 68px;
	}
}
