html,
body {
	height: 100%;
}

.img-home-portfolio,
.img-customer,
.portfolio-item {
	margin-bottom: 30px;
}

#main-title {
	padding: 16px;

	h1 a {
		color: #ab3333;
	}
}

.navbar-default {
	border: none;
}

.navbar-form {
	margin-left: 10px;
}

.navbar-inverse {
	background-color: #eaeaea;
	border: none;
	-webkit-box-shadow: 0 2px 2px 0 rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 0 2px 2px 0 rgba(50, 50, 50, 0.75);
	box-shadow: 0 2px 2px 0 rgba(50, 50, 50, 0.75);

	.navbar-brand {
		color: #ab3333;

		&:hover,
		&:focus {
			color: #331919;
			background-color: transparent;
		}
	}

	.navbar-nav > {

		.active > a {
			background-color: #ab3333;
			-webkit-box-shadow: 0 2px 2px 0 rgba(50, 50, 50, 0.75);
			-moz-box-shadow: 0 2px 2px 0 rgba(50, 50, 50, 0.75);
			box-shadow: 0 2px 2px 0 rgba(50, 50, 50, 0.75);

			&:hover,
			&:focus {
				background-color: #ab3333;
				-webkit-box-shadow: 0 2px 2px 0 rgba(50, 50, 50, 0.75);
				-moz-box-shadow: 0 2px 2px 0 rgba(50, 50, 50, 0.75);
				box-shadow: 0 2px 2px 0 rgba(50, 50, 50, 0.75);
			}
		}

		li > a {
			color: #331919;

			&:hover,
			&:focus {
				color: #ab3333;
				background-color: transparent;
			}
		}
	}
}

/*Search icon */

.right-inner-addon {
	position: relative;

	input {
		padding-right: 30px;
	}

	i {
		position: absolute;
		right: 0;
		padding: 10px 12px;
		pointer-events: none;
	}
}

/*.carousel-caption {*/

/*color: #000000;*/

/*}*/

a#feature-article {
	position: relative;
	display: block;
}

#feature-article {

	.caption {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		background-color: rgba(0, 0, 0, 0.74902);
	}

	p {
		display: none;
	}
}

.thumbnail {

	.caption {
		color: #fff;
	}
	padding: 0;
	border: none;
	border-radius: 0;

	> img {
		width: 100%;
		height: 300px;
	}
}

.tab-pane {
	margin-top: 15px;
}

.section-colored {
	color: #fff;
	background-color: #504f4f;

	/* change this to change the background color of a colored section */
}

.sidebar {
	margin-top: 40px;

	ul {
		padding: 5px;
		border: 1px solid #ccc;
		border-radius: 5px;
	}
}

#categories-icons {
	display: inline-block;
	padding: 10px;
	margin: 10px;
	color: #fff;
	text-align: center;
	text-decoration: none;
	background-color: #bcbcbc;

	&:hover {
		background-color: #ab3333;
	}

	.img-responsive {
		margin: auto;
	}
}

#story-categories {

	.list-group-item {
		padding-bottom: 20px;
		color: #ab3333;
	}

	.list-group-item-heading {
		color: #ab3333;
	}

	img {
		align-content: center;
		margin-right: 10px;
	}
}

/* Social Icons Styles */

.list-social-icons {
	margin-bottom: 45px;
}

.tooltip-social a {
	color: inherit;
	text-decoration: none;
}

.facebook-link a:hover {
	color: #3b5998;
}

.linkedin-link a:hover {
	color: #007fb1;
}

.twitter-link a:hover {
	color: #39a9e0;
}

.google-plus-link a:hover {
	color: #d14836;
}

.price-cents {
	vertical-align: super;
}

.price-month {
	font-style: italic;
}

// .tag-cloud a {
//   &:nth-child(2n+1) {
//     color: #2e2e2e;
//   }
//   &:nth-child(2n) {
//     color: #9E8F6C;
//   }
//   &:nth-child(3n) {
//     color: #3B6E8F;
//   }
// }

// .tag-weight-1 {
//   /*font-size: 90%;*/
// }

// .tag-weight-2 {
//   /*font-size: 120%;*/
// }

// .tag-weight-3 {
//   /*font-size: 150%;*/
// }

// .tag-weight-4 {
//   /*font-size: 180%;*/
// }

.push60 {
	height: 60px;
}

#article-list-link {

	img {
		margin-right: 10px;
	}
	overflow: auto;
}

.share-btn {
	display: inline;
	padding-left: 15px;
}

.btn {
	margin-top: 15px;
}

.list-unstyled li {
	padding-top: 10px;
}

.form-fields {

	input {
		width: 265px;
	}

	textarea {
		width: 500px;
	}
}

.paddingleft15 {
	padding-left: 15px;
}

.media-body {

	a {
		text-decoration: none;
	}
	margin-top: 10px;

	p {
		line-height: 21px;
	}
}

#article-thumbnail-wrapper {
	margin-top: 10px;
	margin-bottom: 10px;
	overflow: auto;

	a {
		overflow: auto;
	}
}

.caption {
	padding-right: 0;
	padding-left: 0;
}

#article-thumbnail img {
	padding-left: 0;
}

#more-stories-link {
	height: 20px;
}

#more-stories-link-text {
	color: #333;
}
