html,
body {
  height: 100%;
}

.navbar-default {
  border: none;
}

.navbar-form {
  margin-left: 10px;
}

.section-colored {
  color: #fff;
  background-color: #504f4f;
}

.sidebar {
  margin-top: 40px;

  ul {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}

#categories-icons {
  display: inline-block;
  padding: 10px;
  margin: 10px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background-color: #bcbcbc;

  &:hover {
    background-color: #ab3333;
  }

  .img-responsive {
    margin: auto;
  }
}

#story-categories {
  .list-group-item {
    padding-bottom: 20px;
    color: #ab3333;
  }

  .list-group-item-heading {
    color: #ab3333;
  }

  img {
    align-content: center;
    margin-right: 10px;
  }
}

/* Social Icons Styles */

.list-social-icons {
  margin-bottom: 45px;
}

.tooltip-social a {
  color: inherit;
  text-decoration: none;
}

.facebook-link a:hover {
  color: #3b5998;
}

.linkedin-link a:hover {
  color: #007fb1;
}

.twitter-link a:hover {
  color: #39a9e0;
}

.google-plus-link a:hover {
  color: #d14836;
}

.price-cents {
  vertical-align: super;
}

.price-month {
  font-style: italic;
}

.push60 {
  height: 60px;
}

#article-list-link {
  img {
    margin-right: 10px;
  }
  overflow: auto;
}

.share-btn {
  display: inline;
  padding-left: 15px;
}

.btn {
  margin-top: 15px;
}

.list-unstyled li {
  padding-top: 10px;
}

.form-fields {
  input {
    width: 265px;
  }

  textarea {
    width: 500px;
  }
}

.paddingleft15 {
  padding-left: 15px;
}

.media-body {
  a {
    text-decoration: none;
  }
  margin-top: 10px;

  p {
    line-height: 21px;
  }
}

#article-thumbnail-wrapper {
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: auto;

  a {
    overflow: auto;
  }
}

.caption {
  padding-right: 0;
  padding-left: 0;
}

#article-thumbnail img {
  padding-left: 0;
}

#more-stories-link {
  height: 20px;
}

#more-stories-link-text {
  color: #333;
}
