$icon-font-path: "./fonts/";

@import "stylesheets/bootstrap/bootstrap";

@import "common.scss";
@import "common_responsive.scss";
@import "footer.scss";

@import "home_page.scss";
@import "home_page_responsive.scss";
@import "category_page.scss";
@import "category_page_responsive.scss";
@import 'subscribe.scss';

#wpadminbar{
    opacity: 0.3;
}

.site-main {
    min-height: 75vh;
}