.excerpt {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  height: 68px;
  overflow: hidden;
}

.article-tile-footer {
  display: flex;
  justify-content: flex-end;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.card-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  .category-image {
    height: 70px;
    width: 70px;
    margin-right: 12px;
    image-rendering: -moz-crisp-edges; /* Firefox */
    image-rendering: -o-crisp-edges; /* Opera */
    image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    object-fit: cover;
    -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
  }
}
