#stories-by-category-section {
  background-color: #e6e7e8;

  .stories-by-category-section-container {
    max-width: 95%;

    .category-card {
      height: 100%;

      .category-card-image {
        height: 200px;
        width: 100%;
        object-fit: cover;
        background-color: #9f332f;
      }

      .category-card-header-wrapper {
        height: 95px;

        .category-card-header {
          color: #9e332e;
          text-decoration: none;
          text-transform: uppercase;
          height: 100%;
          display: flex;
          padding-left: 8px;
          padding-right: 8px;

          justify-content: start;
          align-items: center;

          .category-card-category-name {
            font-size: 20px;
          }

          .card-header-category-image {
            width: 70px;
            height: 70px;
            margin-right: 16px;
          }
        }
      }

      .card-body {
        padding: 8px;
        flex: 1;
        flex-grow: 0;

        .card-title {
          width: 100%;
          font-size: 16px;

          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
      }
    }
  }
}
