$color-theme-primary: #9e332e;
$light-brick-color: #cd5751;
$yellow-col: #fc9d1c;
$dark-gray-col: #bcbec0;
$light-gray-col: #e6e7e8;
$lighter-gray-col: #f1f1f2;

$theme-colors: (
  "primary": $color-theme-primary,
);
