// Jetpack styles

#infinite-handle {
  display: flex;
  width: 100%;
  margin-bottom: 25px;

  span {
    width: 100%;

    button {
      width: 100%;
    }
  }
}

#page {
  .jp-relatedposts {
    padding-top: 32px;
    border-top: 2px solid $light-gray-col;

    h3.jp-relatedposts-headline em {
      font-size: 20px;

      &::before {
        border-top: 0 !important;
      }
    }
  }

  .jp-relatedposts-items {
    display: flex;
    flex-wrap: wrap;

    .jp-relatedposts-post {
      width: 240px;
    }
  }
}

// Contact-form

#page {
  form.contact-form {
    width: 600px;

    .email,
    .name {
      width: 100%;
    }
  }
}

// Blocks

figure.wp-block-image {
  padding-bottom: 24px;
}

.aligncenter {
  justify-content: center;
}

.wp-block-image {
  img {
    height: auto;
  }
}
