$roboto: "Roboto";
$roboto-black: "Roboto-Black";

@font-face {
    font-family: $roboto;
    font-style: normal;
    font-weight: 400;
    src: local("Roboto Regular"), local("Roboto-Regular"),
        url(//themes.googleusercontent.com/static/fonts/roboto/v10/CrYjSnGjrRCn0pd9VQsnFOvvDin1pK8aKteLpeZ5c0A.woff)
            format("woff");
}

@font-face {
    font-family: $roboto-black;
    font-style: normal;
    font-weight: 900;
    src: local("Roboto Black"), local("Roboto-Black"),
        url(//themes.googleusercontent.com/static/fonts/roboto/v10/mnpfi9pxYH-Go5UiibESIrO3LdcAZYWl9Si6vvxL-qU.woff)
            format("woff");
}
