@use "fonts";
@use "colors";

@mixin desktop {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin clamp($i) {
    display: -webkit-box;
    -webkit-line-clamp: $i;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@mixin header-style {
    font-family: fonts.$roboto-black;
    color: colors.$color-theme-primary;
    text-shadow: none;
    text-transform: uppercase;
    opacity: 1;
}
