@use "fonts";
@use "colors";
@use "sass:map";

@mixin large-desktop {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin clamp($i) {
  display: -webkit-box;
  -webkit-line-clamp: $i;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@mixin header-style {
  font-family: fonts.$roboto-black;
  color: colors.$primary;
  text-shadow: none;
  text-transform: uppercase;
  opacity: 1;
}

@mixin form-field {
  width: 100%;

  @include desktop {
    width: 50%;
  }

  input,
  textarea {
    padding: 12px;
    width: 100%;
  }
  label {
    display: none;
  }
}

@mixin button-primary {
  color: white;
  background-color: colors.$primary;
  text-align: center;
  padding: 6px 12px;
  height: fit-content;
  border: 0;
  border-radius: 4px;

  &:hover {
    color: white;
  }

  &:focus {
    box-shadow: 0 0 0 0.25rem rgb(173 82 77 / 50%);
  }
}

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px,
) !default;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
) !default;

@mixin responsive-container {
  padding: 0 12px;
  @each $breakpoint, $container-max-width in $container-max-widths {
    @media (min-width: map.get($grid-breakpoints, $breakpoint)) {
      max-width: $container-max-width;
    }
  }
}
