{% verbatim %}
	<div id="sidebar-map" class="stories-map sidebar-map">
        <div class="map-container">
        </div>
        <script>
            renderMap(document.currentScript.previousElementSibling)
        </script>
    </div>
{% endverbatim %}