{% extends 'layouts/_base-content.twig' %}

{% set page_class = 'page-term' %}

{% block content %}
    {% include 'partials/_term-header.twig' with {
        term: term
    } only %}

    {% if term.description %}
        <div class="card">
            <div class="card-body pl-2 pt-2 pb-0">
                <details>
                    <summary class="alert p-0 pl-2 m-0">
                        <div class="d-flex">
                            <p>
                                {{ term.meta('short-description') }}
                            </p>
                            <p class="btn btn-link p-0 ml-4 border-0 read-more">
                                Read More
                            </p>
                            <p class="btn btn-link p-0 ml-4 border-0 read-less">
                                Read Less
                            </p>
                        </div>
                    </summary>
                    <div class="alert alert-light mb-0 pt-0 pb-0">
                        <div class="description-wrapper">
                            <p>
                                {{ term.description }}
                            </p>
                        </div>
                    </div>
                </details>
            </div>
        </div>
    {% endif %}

    <div class="container-fluid p-0 mt-4">
        <div class="row" id="infinite-scroll-content">
            {% include 'partials/_post-tile-loop.twig' with {
                posts: posts
            } only %}
        </div>
    </div>
{% endblock %}
