@use "../common/colors";

.tribe-common-l-container.tribe-events-l-container {
  padding-top: 0 !important;
}

.tribe-common-c-btn {
  background-color: colors.$dark-brick-col !important;
  &:hover {
    background-color: darken(colors.$dark-brick-col, 10%) !important;
  }
}
.tribe-events-calendar-list__event-featured-image-wrapper {
  .tribe-events-calendar-list__event-featured-image {
    width: 175px;
    height: 175px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #d5d5d5;
  }
}

.tribe-common-g-row.tribe-events-calendar-list__event-row {
  border-bottom: 1px solid #d5d5d5;
  padding-bottom: 32px;
  margin-bottom: 64px;
}

.tribe-common .tribe-common-c-svgicon {
  color: colors.$dark-brick-col;
}

.tribe-events .tribe-events-c-ical__link {
  color: colors.$dark-brick-col;
  border: colors.$dark-brick-col;
  &:hover {
    color: #fff;
    background-color: colors.$dark-brick-col;
  }
}
