{% extends 'layouts/_base-content.twig' %}

{% set page_class = 'page-not-found' %}

{% block content %}
  <section class="page-not-found__section">
    <header class="page-header">
      <h2 class="page-not-found__title">
        Oops! That page can't be found.
      </h2>

      <p class="page-not-found__subtitle">
        It looks like nothing was found at this location. Maybe try one of the
        links below or a search?
      </p>
    </header>

    {% include 'partials/_search-form.twig' %}

    {{ recent_posts }}

    {{ categories }}
  </section>
{% endblock %}
