@use "../common/colors";

#page-term {
  .category-page-category-list-wrapper {
    padding-top: 16px;
  }

  details {
    summary {
      list-style: none;
      outline: none;
      &::marker {
        display: none;
      }
    }

    .read-less {
      display: none;
    }

    .read-more {
      display: block;
    }

    &[open] {
      .read-less {
        display: block;
      }

      .read-more {
        display: none;
      }
    }

    .description-wrapper {
      border-left: 2px solid colors.$dark-brick-col;
      padding-left: 8px;
    }
  }
}
