@use "../common/colors";
@use "../common/mixins";

.highlights-title {
  text-transform: uppercase;
  color: colors.$color-theme-primary;
}

.page-front {
  &__section {
    margin-top: 24px;
    margin: 24px auto;
    @include mixins.responsive-container;
  }

  &__latest-stories {
    display: grid;
    grid-template-columns: 1fr;
    gap: 12px;

    @include mixins.desktop {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__highlights {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__post-tile-container {
    padding-bottom: 24px;
    display: flex;
    flex-direction: column;

    @include mixins.desktop {
      &:not(:first-child) {
        padding-left: 12px;
      }
      &:not(:last-child) {
        padding-right: 12px;
      }
    }
  }

  &__header-container {
    border-bottom: 2px solid colors.$color-theme-primary;
    margin-bottom: 24px;
  }

  &__header {
    background-color: colors.$color-theme-primary;
    color: white;
    margin-bottom: -1px;
    width: fit-content;
    padding-left: 12px;
    padding-right: 12px;
    font-weight: 500;
    padding-bottom: 2px;
  }
}
