{% extends 'layouts/_base.twig' %}

{% set page_class = 'page-front' %}

{% block page %}
  {{ function('do_shortcode', '[smartslider3 slider="homepage-slider"]') }}

  <section class="page-front__section">
    <div class="page-front__header-container">
      <h3 class="page-front__header">
        Latest Stories
      </h3>
    </div>
    <div class="page-front__latest-stories">
      {% for post in latest_posts %}
        {% include 'partials/_highlight-card.twig' %}
      {% endfor %}
    </div>
  </section>

  <section class="page-front__section">
    <div class="page-front__header-container">
      <h3 class="page-front__header">
        Highlights
      </h3>
    </div>
    <div class="page-front__highlights">
      {% for post in promoted_articles %}
        <div class="col-xs-4 col-md-6 col-lg-3 page-front__post-tile-container">
          {% include 'partials/_post-tile.twig' with {
            post: post
          } only %}
        </div>
      {% endfor %}
    </div>
  </section>
{% endblock %}
