@use "../common/mixins";

#page-article {
    .category-page-category-list-wrapper {
        padding-top: 16px;
    }

    .category-topping-wrapper {
        width: 100%;
    }
}

.page-article {
    &__header {
        display: flex;
        justify-content: space-between;
    }

    &__latest-posts {
        @include mixins.button-primary;
    }
}
