#page-map {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  padding: 8px;
}
.stories-map {
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.4);

  flex: 1;
  height: 100%;
  position: relative;

  .leaflet-popup-content-wrapper {
    background: transparent;
    padding: 0;
  }

  .leaflet-popup-content {
    margin: 0;
    width: 300px !important;

    .btn-primary {
      color: white;
    }

    .popup-title {
      color: $dark-brick-col;
    }

    .popup-image {
      object-fit: cover;
    }
  }

  .story-marker-icon {
    > div {
      width: 100%;
      height: 100%;
      border: 1px solid black;
      border-radius: 50%;
      display: block;
    }
  }

  .loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.2);
  }

  .category-list {
    background-color: white;
    padding: 4px 8px;

    box-shadow: rgba(0, 0, 0, 0.2) 0 0 4px 2px;
    border-radius: 4px;

    .collapsed {
      .collapse-icon {
        transform: rotate(180deg);
      }
    }

    .category {
      .bullet {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: var(--bullet-color);
        font-size: 40px;
        border: 1px solid rgba(0, 0, 0, 0.2);
      }

      display: list-item;
      background-color: transparent;
      border: none;
      margin-bottom: 7px;
      font-size: 10px;
      color: #666666;
      font-weight: bold;
      font-family: "Helvetica", Arial;
      text-transform: uppercase;
      text-align: left;
      line-height: 10px;

      &.selected {
        font-weight: 900;
      }
    }

    .category-list-header {
      display: flex;
      justify-content: center;
      align-items: center;
      .category-list-header-image {
        width: 48px;
      }
      p {
        @include header-style;
        margin: 0;
        margin-left: 4px;
        font-size: 16px;
      }
    }
  }
}
