@use "../common/mixins";

.page-article {
    &__section {
        margin: 0 auto;
    }

    &__header {
        display: flex;
        justify-content: space-between;
    }

    &__title {
        @include mixins.header-style();
    }

    .category-topping-wrapper {
        width: 100%;
    }

    &__latest-posts {
        @include mixins.button-primary;
    }
}
