@use "../common/mixins";

.page-article {
    &__post-loop-wrapper {
        padding: 16px 0 0 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .category-topping-wrapper {
        width: 100%;
    }

    &__header {
        display: flex;
        justify-content: space-between;
    }

    &__latest-posts {
        @include mixins.button-primary;
    }

    &__title {
        @include mixins.header-style();
    }
}
