{% extends 'layouts/_base-content.twig' %}

{% set page_class = 'page-password-protected' %}

{% block content %}
    <h1 class="page-password-protected__title">
        {{ post.title }}
    </h1>
    {{ password_form }}
{% endblock %}
