#page-front {
  #main-section {
    .main-section-container {
      padding-left: 0;
      padding-right: 0;

      #featured-list {
        display: flex;
        flex-direction: column;

        .featured-list-title-wrapper {
          display: flex;
          justify-content: center;
          align-items: center;

          .title-image {
            margin: 0;
            height: 64px;
            width: 64px;
            margin-right: 12px;
          }
        }

        .highlights-title {
          text-align: center;
        }

        .featured-list-card-body {
          padding: 8px;
          height: 100%;
          display: flex;
          flex-direction: column;

          p {
            position: relative;
            margin-bottom: 0;
            font-size: 0.75em;
            overflow: hidden;
          }
        }
      }
    }
  }

  #stories-by-category-section {
    background-color: #e8e8e8;

    .stories-by-category-section-container {
      max-width: 1440px;

      .category-card {
        height: 100%;

        .category-card-image {
          height: 200px;
          width: 100%;
          object-fit: cover;
          background-color: #9f332f;
        }

        .category-card-header-wrapper {
          @include category-header;
        }

        .card-body {
          padding: 8px;
          flex: 1;
          flex-grow: 0;

          .card-title {
            width: 100%;
            font-size: 16px;

            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
          }
        }
      }
    }
  }

  #about-section {
    .about-section-container {
      max-width: 1440px;
      .about-section-row {
        padding-top: 32px;
        padding-bottom: 16px;

        h2 {
          font-size: 1.125em;
        }

        p {
          padding-bottom: 12px;
        }
      }
    }
  }
}
