<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top d-flex" id="vikalpsangam-navbar">

	<a class="navbar-brand" href="/"></a>

	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#vikalpsangam-navbar-collapse" aria-controls="vikalpsangam-navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse justify-content-end" id="vikalpsangam-navbar-collapse">

		<form action="/" class="form-inline search-box">
			<button class="search-box-submit-button" type="submit">
				<i class="fas fa-search search-icon"></i>
			</button>
			<input class="search-query form-control search-box-input" placeholder="Search" type="text">
		</form>
	</div>
</nav>
