{% extends "base-content.twig" %}
{% block content %}

	{% include 'partials/category-header.twig' with {'category': post.category } only %}

	<div class="container-fluid p-0">
		<div class="row" id="infinite-scroll-content">
			{% include 'partials/article-tile-loop.twig' with {'posts': posts } only %}
		</div>
	</div>
{% endblock %}
