{% extends "base-content.twig" %}
{% block content %}

	{% include 'partials/_term-header.twig' with {'term': term } only %}

	<div class="container-fluid p-0">
		<div class="row" id="infinite-scroll-content">
			{% include 'partials/_post-tile-loop.twig' with {'posts': posts } only %}
		</div>
	</div>
{% endblock %}
