{% extends "base-content.twig" %}

{% block content %}
	<div class="d-flex justify-content-between mb-4">
		<h2>{{post.title}}</h2>
		<div>
			<a href="/article/" class="btn btn-primary">Show stories by category</a>
		</div>
	</div>

	<section class="container-fluid">
		<div class="row">
			<div class="container-fluid p-0">
				<div class="row category-page-category-list-wrapper">
					{% include 'partials/_post-tile-loop.twig' with {'posts': posts, 'show_categories': true } only %}
				</div>
			</div>
		</div>
	</section>
{% endblock %}
