.visible-lg .spacer {
    margin-top: 5px;
    margin-bottom: 20px;
}

.list-items {
    margin: 0px;
    white-space: nowrap;
}

.footer-social-links-bottom {
    margin-bottom: 10px;
}

.small-screens  .spacer {
    margin-top: 5px;
    margin-bottom: 10px;
}

.list-items {
    text-align: center;
}