@media (max-width: 399px) {
  .top-carousel-wrapper {
    .carousel-indicators {
      bottom: -5px;
    }

    .no-right-margin {
      margin-right: 0;
    }

    .fill-image {
      height: 220px;
    }

    .verticle-border {
      display: none;
    }

    .col-xs-12 {
      padding: 0;
    }

    .carousel-caption-bottom {
      padding: 10px 10px 30px 40px;
      background: $light-gray-col;
    }

    .featured-list {
      padding: 10px 5px 10px 30px;

      .row {
        margin: 0;
      }
    }
  }

  .featured-list {
    h4 {
      font-size: 0.725em;
    }

    p {
      font-size: 0.7em;
    }
  }

  .category-section {
    .category {
      margin-bottom: 10px;
      border-right: 0 none;
    }

    .container .col-xs-6 {
      width: 100%;
    }
  }
}

@media (min-width: 400px) and (max-width: 767px) {
  .top-carousel-wrapper {
    .carousel-indicators {
      bottom: -5px;
    }

    .no-right-margin {
      margin-right: 0;
    }

    .fill-image {
      height: 340px;
    }

    .verticle-border {
      display: none;
    }

    .col-xs-12 {
      padding: 0;
    }

    .carousel-caption-bottom {
      padding: 10px 10px 30px 40px;
      background: $light-gray-col;
    }

    .featured-list {
      padding: 10px 5px 10px 30px;

      .row {
        margin: 0;
      }
    }
  }

  .featured-list {
    h4 {
      font-size: 0.725em;
    }

    p {
      font-size: 0.7em;
    }
  }

  .category-section {
    .category {
      margin-bottom: 10px;
      border-right: 10px solid $light-gray-col;
    }

    .container {
      padding: 0 5px;
    }

    .top-sub-section h4 {
      font-size: 1em;
    }

    .plain-text-sub-section p {
      font-size: 0.8em;
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .top-carousel-wrapper {
    .no-right-margin {
      margin-right: 0;
    }

    .fill-image {
      height: 420px;
    }

    .verticle-border {
      display: none;
    }

    .col-xs-12 {
      padding: 0;
    }

    .carousel-caption-bottom {
      padding: 10px 10px 10px 40px;
    }

    .featured-list {
      padding: 10px 5px 10px 30px;

      .row {
        margin: 0;
      }
    }

    .carousel-caption {
      width: 70%;
    }
  }

  .category-section {
    .top-sub-section h4 {
      font-size: 1em;
    }

    .plain-text-sub-section p {
      font-size: 0.8em;
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .top-carousel-wrapper {
    .fill-image {
      height: 500px;
    }

    .verticle-border {
      height: 480px;
    }
  }
}

@media (min-width: 1200px) {
  .category-section .container,
  .about-section .container {
    width: 95%;
  }
}
